$background : #1a1a2e;
$accent : #e94560;
$white : #f8f1f1;

body {
    background-color : $background;
    color: $white;
}

a {
    color: $white;
}

.header {
    background-color: #16213e;
    color: $white;
    font-weight: 500;
}

.nav-title {
    color: $accent;
    font-weight: 700;
}

.loading {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
}
.button {
    background-color: $accent;
    color: $white;
    font-weight: 600;
    width: 66%;
    margin: 0 auto;
    border-radius: 2px;
    border-width: 0;
    display: flex;
    justify-content: center;
    :hover {
        background-color: #ba374d;
    }
}

.card-popover {
    background-color: $background;
}